body {
  font-family: 'Gothic A1', sans-serif;
  font-size: 14px;
  color: white;
  background: #191414;
  margin: 0em;
}

h1 {
  font-weight: bold;
  font-size: 10vh;
  margin: 0em;
}

button {
  width: 150px;
  height: 36px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: #191414;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-family: 'Gothic A1', sans-serif;
  text-align: center;

}

button:hover {
  background-color: #02ff80;
  transition: 0.5s;

}



.hidden {
  display: none;
}


#header {
  margin: 0em;
  padding: 6em 1em 1em 2em;
  background: linear-gradient(transparent, #191414), url("img/bg.jpeg") repeat center;
}

#header p {
  padding: 0em;
  margin-top: 0em;
  margin-bottom: 20px;
}

#song {
  width: 500px;
  height: 500px;
  border: 2px solid #02ff80;
  margin-top: 0em;
  border-radius: 10px;
  margin: 5px;
}


#param {
  width: 300px;
  border-radius: 10px;
  background-image: linear-gradient(#02ff80, #00098b);
  text-align: center;
  margin: 5px;
  padding: 2em;
}

#genre-select{
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin: 5px;
  padding: 2em;

}

#playlist-select {
  justify-content: center;
  font-weight: bold;
  margin: 5px;
  padding: 2em;

}



#genre-select label, #playlist-select label {
  text-transform: uppercase;
  align-self: center;
}



#genre-select select, #playlist-select select{
  background-color: white;
  width: 200px;
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  border: none;
  font-family: 'Gothic A1', sans-serif;

}



#container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0px 5% 0% 5%;
  padding: 0px;
  flex: 1 100%;
}

#foot {
	width: 100%;
  height: 100px;
}

/* ------------------------------------------------------------ */
/* media query containing styles for smaller screens */
@media (max-width: 980px) {
  #header {
    text-align: center;
  }

  #container {
    display: flex;
    justify-content: center;
    margin: 0px;
  }

  #param, #song {
    width: 100%;

  }




} /* end media query */
