body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  color: white;
  background: #42bdf8;
  margin: 0em;
}

h1 {
  font-family: 'Krona One', sans-serif;
  font-size: 10vh;
  margin: 0em;
}

h2 {
  font-family: 'Krona One', sans-serif;
  align-self: center;
  text-align: center;
}


.hidden {
  display: none;
}


#header {
  margin: 0em;
  padding: 6em 1em 1em 2em;
  background: linear-gradient(transparent, #42bdf8), url("img/bg.jpeg") repeat center;
}

#header p {
  padding: 0;
  margin: 0px 0px 20px 20px;

}

#location {
  width: 400px;
  height: 400px;
  background-image: linear-gradient(white, #46bdf7);
  color: #073b54;
  border-radius: 10px;
  padding: 1.5em;
  margin: 5px;


}


label, #lonlat {
  font-family: 'Krona One', sans-serif;
}

input {
  margin: 5px 0px 10px 0px;
  width: 100%;
}

 
button {
  color: white;
  width: 100%;
  background-color: #faa302;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  margin: 5px 0px 5px 0px;
  text-align: center;
  letter-spacing: 1px;
}

button:hover {
  background-color: #fab973;
}

#weather {
  width: 400px;
  height: 400px;
  padding: 1.5em;
  margin: 5px;
  border-radius: 10px;
  border: 2px solid white;


}





#container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0px 5% 0% 5%;
  padding: 0px;
  flex: 1 100%;
}

#foot {
	width: 100%;
  height: 100px;
}

/* ------------------------------------------------------------ */
/* media query containing styles for smaller screens */
@media (max-width: 980px) {
  #header {
    text-align: center;
  }

  #container {
    display: flex;
    justify-content: center;
    margin: 0px;
  }





} /* end media query */
